<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<div class="container text-center">
  <h1 class="alert alert-success">Password Generator</h1>
</div>
<div class="container text-center">
  <h1>Your password is: 
  <input type="text" class="alert alert-success" value="{{ password }}" id="myInput">
</h1>
  <button onclick="copyPassword()" class="btn btn-warning">Copy text</button>
  <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
  <a href="{% url 'password' %}" class="btn btn-warning">Next</a>
</div>

<script>
  function copyPassword() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  navigator.clipboard.writeText(copyText.value);
  // alert("Copied the text: " + copyText.value);
} 
</script>
